
<h2><%= @vacation.title %></h2>
<p><%= @vacation.location %></p>
<p><%= @vacation.date %></p>
<p><%= @vacation.title %>
<p><%= @vacation.description %>
<form method="get" action="/user/home">
 <input type="submit" value="Go back!">
</form>
